
.mail__label,
.user-panel__subtitle,
.hidden-menu__button,
.login__label {
    font-weight: bold;
}

.draw-panel__color-selector-list,
.draw-panel__list,
.players-panel__item,
.objects-panel__list,
.config-panel__list {
    list-style: none;
}

[class*="config-panel__button"],
[class*="draw-panel__item-span-"],
.draw-panel__color-selector-title,
.players-panel__subtitle,
.objects-panel__subtitle,
.config-panel__subtitle {
    font-size: .9em;
    font-weight: bold;
}

.mail__alert,
.user-panel__span,
.user-panel__subtitle,
.login__alert {
    font-size: .9em;
}

.strategy-panel__item-link {
    text-decoration: none;
}

.login__title {
    font-size: 2em;
}